@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arimo|Viga&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:  'Arimo', sans-serif;
}
 :root{
       --white: #ffffff;
       --light-green: #1ec2ad;
       --blue: #205cfa;
       --red: #e8465a;
       --dark-red: #a83341;
       --gray: #adabaa;
       --black: #172422;
       --dark-gray:#ddd;
       --lighter-gray:#f4f4f4;
       --dark-blue:#101d3d;
     }
body{
  background-color: #ffffff;
  font-size: 18px;
  color: var(--white);
}
#hero-crowd{
  height: 500px;
  max-width: 100%;
  display: block;
  background-image: url(../images/crowd.png);
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  z-index: -1;
}
.slogan{
  position: absolute;
  top:35%;
  left:35%;
  max-width: 80%;
  font-size:80px;
  color:var(--white);
  font-weight:500;
  text-align: center;
  z-index: 0;
  font-family: 'viga', sans-serif;
}
.startups{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.str-right img{
  width: 100%;

}
.str-left{
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: var(--dark-blue);
}
.str-left h1{
  font-size: 80px;
  color: var(--red);
  font-family: "viga";
}
.str-left p{
  color: var(--white);
  font-size: 16px;
  text-align: justify;
}
.str-left a{
  background-color: var(--red);
  color:#ffffff;
  margin-bottom: 35px;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-family: 'viga';
  padding:10px 20px;
  border-radius: 7px;
}
.str-left a:hover{
  color:var(--blue);
  background-color: #ffffff;
  font-family: 'viga';
  text-decoration: none;
}
.buttons{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
}
@media(max-width:800px){
  #hero-crowd::before{
  height:100vh;
  filter:blur(3px);
  max-width: 100%;
}
#hero-crowd .slogan{
  top: 50%;
  filter:blur(0px);
  left:30%;
  max-width: 100%;
  font-size: 50px;
}
.startups{
  display: grid;
  grid-template-columns: 1fr;
}
.str-left{
  padding-top: 30px;
  padding-left: 10px;
}
.str-left h1{
  font-size: 40px;
  color: var(--red);
  font-family: "viga";
  text-align: center;
}
.str-left a{
  display: inline-block;
  margin-bottom: 45px;
  text-align: center;
}
.partners-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:10px;
  justify-content:center;
}
}

@media(max-width:600px){
  #hero-crowd::before{
  height:100vh;
  filter:blur(3px);
  max-width: 100%;
}
#hero-crowd .slogan{
  top: 69%;
  filter:blur(0px);
  left:13%;
  max-width: 100%;
  font-size: 40px;
}
.startups{
  grid-template-columns: 1fr;
}
.str-left{
  padding: 25px 30px;
}
.str-left h1{
  font-size: 30px;
}
.str-left p{
  font-size: 16px;
  margin-bottom: 25px;
}
.str-left a{
  font-size: 16px;
}
.partners-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap:10px;
  justify-content:center;
}
}
