.main{
    color:#205cfa !important;
}
.mainR{
  color: #a83341 !important;
}
.mainF{
  color: #e8465a !important;
}
.mainb{
  color: #1ec2ad !important;
}
body{
  color: #f1f1f1 !important;
}
.maing{
  color: #adabaa !important;
}
.bmain{
  color: #172422 !important;
}
@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arimo|Viga&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:  'Arimo', sans-serif;
}
 :root{
       --white: #ffffff;
       --light-green: #1ec2ad;
       --blue: #205cfa;
       --red: #e8465a;
       --dark-red: #a83341;
       --gray: #adabaa;
       --black: #172422;
       --dark-gray:#ddd;
       --lighter-gray:#f4f4f4;
       --dark-blue:#101d3d;
     }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;}
  p, button , label{
    font-family: 'Arimo', sans-serif;
  }
  h1 , h2 , h3 , h4 , h6 , h5 {
    font-family: 'Viga', sans-serif;
  }
  .speakers h2 {
    font-family: 'viga';
    font-size: 70px;
    color: var(--white);
}
/* header section */
#hero-about{
  background-image: url(../images/speaker.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center center;
}
.slogan-2{
  position: absolute;
  top:35%;
  left:35%;
  max-width: 80%;
  font-size:80px;
  color:var(--white);
  font-weight:500;
  text-align: center;
  z-index: 0;
  font-family: 'viga', sans-serif;
  color: #e8465a;
}
#btnUp
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;

}
.color-main
{
    color: #ff206e;
}
.bg-main
{
    background-color: #ff206e !important ;
}

.bottom-left {
  bottom: 30px;
  left: 22px;
}

.spcontents{
  background-color: #101d3d;

}

.img-overlay:before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    background: rgba(0, 0, 255,0.3);
    opacity: .25;
    
}
.img-overlay:hover{
  display: none;
}
  .img-overlay1:before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    background: rgba(0,0, 0,0.2)   ;    
}
.img-overlay1:hover{
  display: none;

}
.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #a83341, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #a83341;
    color: #fff;
}
.cont-icon {
  border-radius: 20%;
  font-size: 1rem;
  padding: 7px;
  box-shadow: 0 0 0 3px#8811c5;
  color:#8811c5;
  margin-left: 70px; 
  padding:10px;
  
}
.cont-icon:hover{
  cursor: pointer;
  box-shadow: 0 0 0 3px#a83341;
  background-color: #f1f1f1;
  color:#a83341;
}
/* popup */
.img-item
{
    cursor: pointer;
}

.item-caption
{
    position: absolute;
    bottom: 30px;
    background-color: #fff;
    padding: 10px;
    width: 80%;
}
#btnUp{
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
}
#lightboxcontainer
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0,0, 0.4);
  display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
#aboutimage{
  width: 75%;
    height: 300px;
    background-image: url(../images/احمد\ سمير\ 2.jpg);
    background-size: 100% 100%;
}
#lightboxitem
{
  background-color: white;
    width: 50%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
#lightboxitem i 
{
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
}
#iconclose
{
    position: absolute;
    top: 25px;
    right: 20px;
}
/* responive */
@media screen and (max-width: 520px){
.advertisment h2,h3{
font-size: 20px;
}
.cont-icon{
  margin: 10px 0;
  margin-left: 20px;
  
}
.btnSubmit
{
  margin-left: 20px;
  width: 40% !important ;
}
.form-control{
  width: 100%!important;
}
#lightboxitem
{
  background-color: white;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.col-sm-12{
  margin-top: 40px;
}
.img-item{
  width:100px;
  
} 
.hero-about{
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  z-index: -1;
  width: 100%;
}
.slogan-2{ 
  top:35%;
  left:35%;
  max-width: 20%;
  font-size:30px;
  font-weight:200;
  text-align: center;
  z-index: 0;
}
#aboutimage{
  width: 30%;
  height: 100px;
}
#aboutimage .img-item{

width: 30%;
}

}
@media screen and (max-width: 600px){
  .advertisment h2,h3{
  font-size: 20px;
  }
  .cont-icon{
    margin: 10px 0;
    margin-left: 20px;
    
  }
  .btnSubmit
  {
    margin-left: 20px;
    width: 40% !important ;
  }
  .form-control{
    width: 100%!important;
  }
  #lightboxitem
  {
    background-color: white;
      width: 100%;
      height: 350px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
  }
  .col-sm-12{
    margin-top: 40px;
  }
  .img-item{
    width:100px;
    
  } 
  .hero-about{
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    z-index: -1;
    width: 100%;
  }
  .slogan-2{ 
    top:35%;
    left:35%;
    max-width: 20%;
    font-size:30px;
    font-weight:200;
    text-align: center;
    z-index: 0;
  }
  #aboutimage{
    width: 20%;
    height: 80px;
  }
  #aboutimage .img-item{
  
  width: 20%;
  }
  
  }



