/* head of page */
:root{
  --white: #ffffff;
  --blue: #205cfa;
  --red: #e8465a;
  --black: #172422;
  --lighter-gray:#f4f4f4;
  --dark-blue:#101d3d;
  --r: #cacaca;
  --c: #1ec2ad ;
  --body: #f1f1f1;
  --light: #adabaa;
}
.head{
    position: relative;
    font-size: 2.5rem;
    font-weight: 800;
}
p, button , label{
  font-family: 'Arimo', sans-serif;
}
h1 , h2 , h3 , h4 , h6 , h5 {
  font-family: 'Viga', sans-serif;
}
.head::after{
    content: '';
    background-color: #f1f1f1;
    position: absolute;
    height: 2px;
    width: 30%;
    top: 100%;
    left: 0%;
    transform: translate(-50% -50%);

}
 .contact-info {
    margin-bottom: 20px;
    text-align: center;
  }

 .icon {
    font-size: 50px;
    display: inline-block;
    margin-bottom: 10px;
    color: #a83341;
  }

.contact-info address,
 .contact-info p {
    margin-bottom: 0;
    color: #000;
  }

 .contact-info h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #adabaa;
  }

  .contact-info a {
    color: #000;
  }

 .contact-info a:hover {
    color: #e8465a ;
  }

   .contact-address,
   .contact-phone,
   .contact-email {
    margin-bottom: 20px;
  }
   #google-map {
    height: 290px;
    margin-bottom: 20px;
  }

   .form #sendmessage {
    color: #205cfa;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
 .form input,
 .form textarea {
    padding: 20px 16px;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
  }

   .form button[type="submit"] {
    background: #a83341;
    border: 0;
    border-radius: 3px;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
  }

   .form button[type="submit"]:hover {
    background: #254d9f;
  }
  .cont-icon {
    border-radius: 55%;
    font-size: 1rem;
    padding: 7px;
    box-shadow: 0 0 0 3px #f1f1f1;
    color: #f1f1f1;
    margin-left: 10px;
}
.cont-icon:hover{
    cursor: pointer;
    box-shadow: 0 0 0 3px #101d3d;
    background-color: transparent;
    color: #101d3d;
}
.img-PORTFOLIO:hover{
  cursor: pointer;
  transform: scale(1.2);
  transition: all 1s;
}
.img-item
{
    cursor: pointer;
}

.item-caption
{
    position: absolute;
    bottom: 30px;
    background-color: #fff;
    padding: 10px;
    width: 80%;

}
/* popup */
#lightboxcontainer
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0,0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

#lightboxitem
{
  background-color: white;
    width: 65%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
#lightboxitem i
{
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
}
#close
{
    position: absolute;
    top: 25px;
    right: 20px;
}
.a-after:after {
  content: "";
  width: 60px;
  height: 3px;
  background-color: #95989a;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.b-after::after{
  content: "";
    width: 40px;
    height: 3px;
    background-color: #254d9f;
    margin: 8px 0;
    display: block;

}
.item-work{
  position: relative;
  overflow: hidden;
}
.item-work .layer-work{
  background-color: rgba(0, 0, 0 ,0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s;
}
.del {
  position: relative;
  top: 70%;
  transition: top 0.5s;
}
.item-work:hover .del{
  top: 0;
}
.item-work:hover img{
  transform: scale(1.3);
}
.item-work img {
  transition: transform 0.5s
}
.item-work:hover .layer-work{
  opacity: 1;
}
.item-caption i {
  font-size: 3.5rem;
  font-weight: 600;
  color: #e65f78;
}
#btnUp
{
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
}
.color-main
{
    color: #ff206e;
}
.bg-main
{
    background-color: #ff206e !important ;
}


@media (max-width: 850px){
  #lightboxitem{
    padding: 20px , 30px;
    width: 90%;
    height: auto;
  }
  #lightboxcontainer img{
    padding-top: 30px;
    width: 25%;
    border-radius: 50%;
  }
